<appSettings>
  <add key="ida:AppID" value="3e7320de-37c5-43db-8faf-1cc04f026d30" />
  <add key="ida:AppSecret" value="Gzv8Q~ml1AIhDwelrsdirhbA6X_yk5R7HGnxua3z" />
  <add key="ida:RedirectUri" value="https://localhost:44350/" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read Tasks.ReadWrite" />

  <add key="literal:ShoppingListDisplayName" value="Lista de la compra" />
</appSettings>