<appSettings>
  <add key="ida:AppID" value="f0110689-e4e3-4ad5-8a2b-09602de29943" />
  <add key="ida:AppSecret" value="ol58Q~tCXh8hrHKwQjr8PzKnle3seXcoqCc5Bcjw" />
  <add key="ida:RedirectUri" value="https://shoppinglistgraph.azurewebsites.net/" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read Tasks.ReadWrite" />

  <add key="literal:ShoppingListDisplayName" value="Lista de la compra" />
</appSettings>