@{
    ViewBag.Current = "Home";
}

<div>
    <div class="jumbotron">
        <h1>Shopping List Graph</h1>

        <p class="lead">Maintain your shopping list using the Microsoft Graph API</p>
    </div>
    @if (Request.IsAuthenticated)
    {
        <h4>Welcome @ViewBag.User.DisplayName!</h4>
        <p>Use the navigation bar at the top of the page to get started.</p>
    }
    else
    {
        @Html.ActionLink("Click here to sign in", "SignIn", "Account", new { area = "" }, new { @class = "btn btn-primary btn-large" })
    }
</div>